#cart {
  padding: 3rem;
  background: #f1f1f1;

  .container {
    padding: 1rem 2rem .3rem 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 1.2rem 0 rgba(212, 217, 234, 0.45);
    background: #fff;
    border-radius: 1rem;

    .title {
      font-weight: 500;
      font-size: 2rem;
      margin-bottom: .5rem;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    .main-cart {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
      align-items: start; /* Giúp border chỉ ôm vừa đủ sản phẩm */

      .container-left {
        .list-cart {
          display: flex;
          gap: 1rem;
          border: 1px solid #ccc;
          border-radius: 1rem;
          padding: 1rem;
          margin-bottom: 1rem;

          .item-img {
            width: auto;
            height: 5rem;
          }

          .item-cart {
            display: grid;
            grid-template-columns: 2fr 2fr .5fr;
            height: 5rem;
            gap: 2rem;
            padding: 1rem 0;
            position: relative;
            width: 100%;

            .item-left {
              text-align: left;

              .name {
                white-space: nowrap;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: .3rem;

                &:hover {
                  color: #2659f3;
                }
              }

              .type {
                font-size: .8rem;
                font-weight: 400;
                color: #898989;
              }
            }

            .item-middle {
              display: flex;
              gap: 1.5rem;

              .price-dis {
                font-weight: 700;
                font-size: 1rem;
              }

              .price-noDis {
                text-decoration: line-through;
                font-size: .8rem;
              }

              .price-percent {
                text-align: center;
                width: 3.5rem;
                height: 18px;
                background: #ff0000;
                border-radius: 2rem;
                color: #fff;
              }
            }

            .item-right {
              display: flex;
              max-height: 2rem;

              .btn {
                padding: .4rem .8rem;
                border: 1px solid #ced4da;
                background: #fff;
                border-radius: 4px 0 0 4px;
                font-size: 1rem;
                cursor: pointer;
              }

              .quantity {
                text-align: center;
                border-style: solid none;
                padding: .4rem 1rem;
                border-width: 1px;
                border-color: #ced4da;
              }
            }

            .btn-remove {
              position: absolute;
              right: 0;
              top: 0;
              margin-top: -.5rem;
              background: #000;
              color: #fff;
              border-radius: 100%;
              width: 1.2rem;
              height: 1.2rem;
              cursor: pointer;
            }
          }
        }
      }

      .container-right {
        border: 1px solid #ccc;
        border-radius: 1rem;
        padding: 1rem;
        height: 100%;

        .total-price {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;

          .price {
            font-weight: 700;
            font-size: 1.1rem;
          }
        }

        .note {
          .title-note {
            font-size: 1.1rem;
            font-weight: 400;
            margin-bottom: .5rem;

            span {
              color: red;
            }
          }

          .input-note {
            width: 100%;
            height: 5rem;
            border: 1px solid #e6e6e6;
            margin-bottom: 1rem;
            text-align: start;
            padding: 1rem;
            font-size: .9rem;
            border-radius: .5rem;
            resize: none;

            &:focus {
              outline: none;
            }
          }

          .btn-cart {
            width: 100%;
            background: #2659f3;
            padding: .5rem;
            border: none;
            font-size: 1rem;
            color: #fff;
            border-radius: .5rem;
            cursor: pointer;

            &:hover {
              filter: brightness(1.2);
            }
          }
        }
      }

      .free-ship {
        display: flex;
        gap: .5rem;
        font-style: italic;

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          color: blue;
          width: 20px;
          height: 20px;
          scale: 1.2;
        }
      }
    }
  }
}