#info {
  display: flex;
  justify-content: center;
  padding: 1rem;

  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    margin: 1rem 2.5rem;
    box-shadow: 0 0 8px 2px rgba(179, 179, 179, 0.15);
    border-radius: 1rem;
    padding: 1rem;

    .info-user {
      background: #f1f1f1;
      padding: 1rem;
      border-radius: 1rem;

      .ava {
        display: flex;
        justify-content: center;

        .user-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          background: #fb9f10;
          border-radius: 50%;
          font-weight: bold;
          font-size: 2.5rem;
          color: #fff;
          margin-bottom: 1rem;
          text-transform: uppercase;
        }
      }

      .title {
        text-align: center;
        margin-bottom: 1rem;
        b {
          color: #2659f3;
        }
      }

      .list-section {
        width: 25rem;
        height: auto;

        .list-items {
          background: #2659f3;
          border-radius: 1rem;
          list-style: none;
          overflow: hidden;

          .item {
            display: flex;
            gap: .3rem;
            color: #fff;
            padding: 1rem 1rem;
            cursor: pointer;

            i {
              display: flex;
              align-items: center;
              width: 1.1rem;
              height: 1.1rem;
              transform: scale(1.1);
            }

            .name {
              font-weight: 600;
            }

            &:hover {
              background: #fb9f10;
              transition: all .4s;
            }
          }

          .active {
            background: #fb9f10;
          }
        }
      }
    }

    .right-page {
      padding: 1rem;
      box-shadow: 0 0 8px 2px rgba(179, 179, 179, 0.15);
      border-radius: 1rem;
      background: #f1f1f1;
    }
  }
}