.right-user {
  .title {
    color: #fb9f10;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .extraInfo {
    .info {
      margin: 1rem 0;

      p {
        margin-bottom: .3rem;
      }

      b {
        color: #dc3545;
      }

      .form-control {
        width: 100%;
        height: 2.2rem;
        padding: .5rem;
        border-radius: .5rem;
        border: 1px solid #ced4da;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        background-color: #fff;
        color: #495057;

        &:focus {
          border-color: #0d5cb6;
          outline: none;
          box-shadow: none;
        }
      }
    }

    .btn-update {
      text-align: center;

      .btn {
        padding: .5rem;
        border-radius: 1rem;
        border: none;
        background: #2659f3;
        font-weight: bold;
        font-size: 1rem;
        color: #fff;
        cursor: pointer;
        width: 10.5rem;

        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
}