#sign {
  //background: #4e54c8;
  background: linear-gradient(90deg, #09bce4 0%, #2659f3 100%);
  padding: 3rem 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .table-login {
      background: rgba(0, 0, 0, 0.4);
      padding: 2rem 2rem;
      width: 35rem;
      border-radius: 1rem;

      .required {
        color: red;
        margin-left: .3rem;
      }

      .title {
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        margin-bottom: 1rem;
      }

      .form-sign {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }

      .form {
        .name {
          font-weight: 500;
          color: #fff;
          margin: .3rem 0;
        }

        .input-form {
          padding: .1rem 0;
          margin-bottom: 1rem;

          input {
            color: #fff;
            width: 100%;
            border: none;
            background: transparent;
            padding: .3rem 0;
            box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.45);
            font-size: 1.1rem;
            font-weight: 500;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

            &:focus {
              box-shadow: inset 0 -2px 0 #fff;
              outline: none !important;
            }
          }
        }
      }
    }

    .forget-pass {
      text-align: center;
      font-weight: 400;
      color: #dadada;
      padding: 0 .3rem .5rem;

      b {
        color: #ffc107;
        cursor: pointer;

        &:hover {
          color: #ba8b00;
        }
      }
    }

    .btn-login {
      width: 100%;
      text-align: center;
      background: #f5df4d;
      padding: .6rem 0;
      font-weight: 600;
      border-radius: 2rem;
      cursor: pointer;
      margin: .5rem 0 1rem;
      font-size: 1.2rem;
      border: none;
    }

    .login-more {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: #fff;
      margin-top: .5rem;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: .6rem;
        width: 10rem;
        border-radius:.31rem;
        cursor: pointer;

        .icon {
          display: flex;
        }

        .name {
          font-weight: 500;
        }
      }
    }
  }
}