.member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .title {
    color: #fb9f10;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .info-member {
    text-align: left;

    span {
      font-weight: bold;
      color: #da1f26;
    }

    .text {
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 1.1rem;
    }

    .text-more {
      font-weight: bold;
      font-style: italic;
      font-size: 1.1rem;
    }
  }
}