@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Google Sans Flex", sans-serif;
}

.main-content {
    padding-top: 8rem;
}

