#footer {
  background: #900002;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 5rem 0;
    gap: 1.5rem;

    .logo-footer {
      width: 420px;

      img {
        max-width: 280px;
      }

      .about-company {
        margin-top: 1rem;

        p {
          font-size: 1rem;
          color: #fff;
          margin-bottom: 5px;
        }
      }

      .input-mail {
        .mail {
          margin-top: 1rem;
          padding: .8rem;
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          border: none;
          font-size: 1rem;
        }

        .btn-input {
          padding: .8rem;
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
          background: #650000;
          border: none;
          font-size: 1rem;
          color: #fff;
          cursor: pointer;

          &:hover {
            filter: brightness(1.1);
          }
        }
      }

      .line-parker {
        margin: 1rem 0 5px;

        a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #fbe263;
          text-transform: uppercase;
          text-decoration: none;

          img {
            width: 100px;
          }
        }
      }
    }
  }
}